<?xml version="1.0"?>
<launch>
  <node name="bug" pkg="lab_bug" type="bug.py">
    <rosparam file="$(find lab_bug)/config/lab_bug_params.yaml" command="load"/>
    <remap from="cmd_vel" to="lab_diff_drive/cmd_vel"/>
    <remap from="odom" to="lab_diff_drive/odom"/>
    <remap from="scan" to="laser/scan"/>
    <remap from="goal" to="goal_point"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab_bug)/rviz/lab_bug.rviz"/>
</launch>

